<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"></setting>
	</settings>
	<typeAliases>
		<typeAlias type="kr.co.MyMarket.customer.domain.Customer"
			alias="Customer" />
		<typeAlias type="kr.co.MyMarket.inquiry.domain.Inquiry"
			alias="Inquiry" />
	</typeAliases>
	<!-- 매퍼 만들고 등록해야지 -->
	<mappers>
		<mapper resource="mappers/customer-mapper.xml" />
		<mapper resource="mappers/inquiry-mapper.xml" />
	</mappers>

</configuration>